:root {
  --pico-font-size: 87.5%;
  --pico-line-height: 1.25;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 1rem;
  --pico-border-radius: 0.375rem;
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 87.5%;
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 87.5%;
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 87.5%;
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 87.5%;
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 100%;
  }
}



